.dashboard {
    padding: 0 16px;

    .topbar {
        height: 67px;
        display: grid;
        grid-template-columns: auto auto 1fr;
        align-items: center;
        border-bottom: 1px solid;
        border-color: rgba(222, 231, 239, 1);


        .search {
            margin-right: 12px;

        }

        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            justify-self: end;
        }
    }

    .intro {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        height: 40px;
        align-items: center;

        h2 {
            font-size: 1.125rem;
        }

        p {
            color: rgba(28, 63, 170, 1);
            display: flex;
            align-items: center;
            font-size: 0.875rem;

            svg {
                margin-right: 0.75rem;
                width: 16px;
                height: 16px;
            }
        }
    }

    .report__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
    }
}