.listdropdown {
    display: flex;
    padding: 0 16px;
    height: 50px;
    align-items: center;
    // border: 2px solid red;

    p {
        margin-left: 12px;
        font-size: 0.875rem;
    }

    @media screen and (max-width: 1279px) and (min-width: 768px) {
        p {
            display: none;
        }
    }

}