.main {
    // padding: 0 12px;
    width: 93vw;
    height: 1500px;
    margin: 0 auto;
    // z-index: -999;

    border-radius: 30px;
    background-color: #F1F5F8;

    @include breakpoint-up(small) {
        width: 90vw;
    }

    @include breakpoint-up(medium) {
        width: 100%;
    }
}